#on E0
[extruder]
step_pin: PG12
dir_pin: !PG11
enable_pin: !PG13
microsteps: 16
rotation_distance: 4.014  #7.711
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: PB1 # Heat0
sensor_pin:  PC1 # T0 Header
sensor_type: EPCOS 100K B57560G104F
control = pid
pid_kp = 15.550
pid_ki = 0.399
pid_kd = 151.612
min_temp: 0
max_temp: 290
pressure_advance = 0.05  #0.04275  #0.06

[tmc2208 extruder]
uart_pin: PG10
run_current: 0.800
hold_current: 0.500
stealthchop_threshold: 5

[heater_bed]
heater_pin: PA2
sensor_pin: PC0 # BED
sensor_type: ATC Semitec 104GT-2
control: pid
min_temp: 0
max_temp: 130
pid_Kp=65.195 
pid_Ki=1.525 
pid_Kd=696.772
pwm_cycle_time: 0.025 #0.01666

#pid_kp = 68.564
#pid_ki = 0.825
#pid_kd = 1424.422

[heater_generic Heater_Bed0]
heater_pin: PA1
sensor_pin: aux:PK3 #T2
sensor_type: ATC Semitec 104GT-2
control: pid
min_temp: 0
max_temp: 130
pid_Kp=68.180 
pid_Ki=1.595 
pid_Kd=728.622
pwm_cycle_time: 0.025 #0.01666

[heater_generic Heater_Bed2]
heater_pin: PB0
sensor_pin: aux:PK5 #T2
sensor_type: ATC Semitec 104GT-2
control: pid
min_temp: 0
max_temp: 130
pid_Kp=68.180 
pid_Ki=1.595 
pid_Kd=728.622
pwm_cycle_time: 0.025 #0.01666

[fan]
pin: !aux:PH5 
hardware_pwm: True

[heater_fan fan1]
pin: PE6

[verify_heater heater_bed]
check_gain_time: 120

[verify_heater Heater_Bed0]
check_gain_time: 120

[verify_heater Heater_Bed2]
check_gain_time: 120

[temperature_sensor Chamber]
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PC2
min_temp: 0
max_temp: 150

#*# [extruder]

#*#
#*# [heater_bed]
